{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Welcome to Madlibs</h1>
<p>Please answer the following questions to generate a story</p>

<form action="/generate-story">
    {% for question in questions %}
    <p><label for={{question}}>{{question.title()}}</label></p>
    <p><input type="text" name={{question}} id={{question}} placeholder="Answer for {{question}}"></p>
    {% endfor %}

    <button type="submit">Generate Story</button>
</form>
{% endblock %}